@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
#root > div:first-child {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(35 39 47);
}

input{
  background-color: rgb(35 39 47);
  color: #2763f7;
}
